@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');
@import 'tailwindcss';
@import "flowbite/src/themes/default";

@plugin "flowbite/plugin";
@source "../node_modules/flowbite";

@font-face {
    font-family: 'HackerNoon';
    src: url('$lib/assets/fonts/HackerNoonV1-Regular.otf') format("opentype");
}

.pixel {
    font-family: 'HackerNoon', serif;
}